<div class="ui-lib-brands">
  <div class="container wrapper wrapper-padding mt-6 container--fluid role">
    <div class="row">
      <div class="card">
        <h5 class="ui-brands-h5">Brands <span><a>Add <i class="fa fa-plus"></i></a></span>
          <select class="form-view">
            <option value="1">default</option>
            <option>Rajakumaran <span><i class="fa fa-plus"></i></span></option>
          </select>
          <p class="view-user">View as Table</p>
        </h5>
        <div class=" ui-ab">
          <button class="ui-connection">Connection</button>
          <button class="ui-connection">Name and Picture</button>
          <button class="ui-connection">Team Access</button>
        </div>
        <div class="col-12">
          <div class="ui-mu-back">
            <p class="f-alert">What's a brand?<br>
              A brand allows you to manage and connect one blog or website, one Twitter account, one Facebook page or
              Facebook group, one Instagram business account, one LinkedIn page (only for Premium accounts), one Google
              Business Profile location, one Facebook Ads account, one Google Ads account, one TikTok Ads account, one
              Youtube channel and one Twitch account. A brand usually corresponds with a brand, a product or a company.
              <br> If you need to manage more than one brand, check up our PREMIUM options.</p>
            <button class="getp">Get Premium</button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="fb-box-link">
              <label class="lbl mb-3"><i class="fa fa-facebook"></i> Facebook</label>
              <div class="box">
                Connect Facebook <i class="fa fa-facebook"></i>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="twiter-box-link">
              <label class="lbl mb-3"><i class="fa fa-twitter-square"></i> Twitter</label>
              <div class="box">
                Connect Twitter <i class="fa fa-twitter-square"></i>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="instagram-box-link">
              <label class="lbl mb-3"><i class="fa fa-instagram"></i> Instagram
              </label>
              <div class="box">
                Connect Instagram <i class="fa fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="linkedin-box-link">
              <label class="lbl mb-3"><i class="fa fa-linkedin-square"></i> LinkedIn
              </label>
              <div class="box">
                Connect LinkedIn <i class="fa fa-linkedin-square"></i>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="pinterest-box-link">
              <label class="lbl mb-3"><i class="fa fa-pinterest-square"></i> Pinterest
              </label>
              <div class="box">
                Connect Pinterest <i class="fa fa-pinterest-square"></i>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="briefcase-box-link">
              <label class="lbl mb-3"><i class="fa fa-briefcase"></i> Google My Bussiness
              </label>
              <div class="box">
                Connect Google My Bussiness <i class="fa fa-briefcase"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- main -->
    <div class="row">

    </div>
  </div>
</div>
