<div class="content-body">
  <h4 class="main-title">Pages Overview</h4>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="d-widget soft-red">
          <div class="d-widget-title">
            <h5>Realtime Users</h5>
          </div>
          <div class="d-widget-content">
            <span class="realtime-ico pulse"></span>
            <h6>Updating live</h6>
            <h5>223</h5>
            <i class="icofont-users-alt-3"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="d-widget soft-blue">
          <div class="d-widget-title">
            <h5>Realtime Watch</h5>
          </div>
          <div class="d-widget-content">
            <span class="realtime-ico pulse"></span>
            <h6>Updating live</h6>
            <h5>5016</h5>
            <i class="icofont-optic"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="d-widget soft-green">
          <div class="d-widget-title">
            <h5>Realtime Watch</h5>
          </div>
          <div class="d-widget-content">
            <span class="realtime-ico pulse"></span>
            <h6>Updating live</h6>
            <h5>5016</h5>
            <i class="icofont-optic"></i>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="col-md-12">
          <kendo-chart>
            <kendo-chart-series>
              <kendo-chart-title text="View Growth"></kendo-chart-title>
              <kendo-chart-series-item type="bubble" [data]="jobsData" xField="x" yField="y" sizeField="size"
                categoryField="category">
              </kendo-chart-series-item>
              <kendo-chart-x-axis>
                <kendo-chart-x-axis-item [axisCrossingValue]="-5000" [majorUnit]="2000" [plotBands]="xPlotBands">
                  <kendo-chart-x-axis-item-labels format="{0:N0}" [skip]="1" rotation="auto">
                  </kendo-chart-x-axis-item-labels>
                </kendo-chart-x-axis-item>
              </kendo-chart-x-axis>
              <kendo-chart-y-axis>
                <kendo-chart-y-axis-item [labels]="{ format: '{0:N0}' }">
                </kendo-chart-y-axis-item>
              </kendo-chart-y-axis>
              <kendo-chart-tooltip format="{3}: {2:N0} applications" [opacity]="1">
              </kendo-chart-tooltip>
              <kendo-chart-legend [visible]="false"> </kendo-chart-legend>
            </kendo-chart-series>
          </kendo-chart>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div>
        <div class="col-lg-12">
          <div class="d-widget">
            <div class="d-widget-title">
              <h5>Manage Users</h5>
            </div>
            <div class="d-widget-content">
              <table class="table manage-user table-default table-responsive-md">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <th>View profile</th>
                    <th>Chat History</th>
                    <th>Blocked</th>
                    <th>Hide</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <!-- <figure><img src="images/resources/user.png" alt=""></figure> -->
                      <h5>Maria K.</h5>
                    </td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch1">
                        <label class="switch" for="switch1"></label>
                      </div>
                    </td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch2">
                        <label class="switch" for="switch2"></label>
                      </div>
                    </td>
                    <td>
                      <div class="actions-btn">
                        <span class="iconbox button soft-primary"><i class="fa fa-edit"></i></span>
                        <span class="iconbox button soft-danger"><i class="fa fa-trash"></i></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- <figure><img src="images/resources/user2.jpg" alt=""></figure> -->
                      <h5>Sarika sing.</h5>
                    </td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch3">
                        <label class="switch" for="switch3"></label>
                      </div>
                    </td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch4">
                        <label class="switch" for="switch4"></label>
                      </div>
                    </td>
                    <td>
                      <div class="actions-btn">
                        <span class="iconbox button soft-primary"><i class="fa fa-edit"></i></span>
                        <span class="iconbox button soft-danger"><i class="fa fa-trash"></i></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- <figure><img src="images/resources/user3.jpg" alt=""></figure> -->
                      <h5>King Khan</h5>
                    </td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch5">
                        <label class="switch" for="switch5"></label>
                      </div>
                    </td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch6">
                        <label class="switch" for="switch6"></label>
                      </div>
                    </td>
                    <td>
                      <div class="actions-btn">
                        <span class="iconbox button soft-primary"><i class="fa fa-edit"></i></span>
                        <span class="iconbox button soft-danger"><i class="fa fa-trash"></i></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- <figure><img src="images/resources/user4.jpg" alt=""></figure> -->
                      <h5>jacob</h5>
                    </td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch7">
                        <label class="switch" for="switch7"></label>
                      </div>
                    </td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch8">
                        <label class="switch" for="switch8"></label>
                      </div>
                    </td>
                    <td>
                      <div class="actions-btn">
                        <span class="iconbox button soft-primary"><i class="fa fa-edit"></i></span>
                        <span class="iconbox button soft-danger"><i class="fa fa-trash"></i></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <!-- <figure><img src="images/resources/user5.jpg" alt=""></figure> -->
                      <h5>Andrew</h5>
                    </td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td><a class="mini-btn" href="#" title="">view</a></td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch9">
                        <label class="switch" for="switch9"></label>
                      </div>
                    </td>
                    <td>
                      <div class="switch-btn">
                        <input type="checkbox" hidden="hidden" id="switch10">
                        <label class="switch" for="switch10"></label>
                      </div>
                    </td>
                    <td>
                      <div class="actions-btn">
                        <span class="iconbox button soft-primary"><i class="fa fa-edit"></i></span>
                        <span class="iconbox button soft-danger"><i class="fa fa-trash"></i></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">

  </div>
</div>
